*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 2rem;
  background-color: blanchedalmond;
}

.App-container{
  position: relative;
}


.App-container.TaskExist::before{
  content: "This task already exist";
  background-color: rgba(255, 0, 0, 0.9);
  border: 1px rgb(129, 12, 12) solid;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 100;
  padding: 0.5rem 1rem;
  font-size: 12px;
  border-radius: 7px;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: TaskExist;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.99, 1,-0.03);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes TaskExist {
  0% {top: -20%;}
  100% {top: 50%;}
}